{% extends 'base.html.twig' %}

{% block title %}New Rendezvous{% endblock %}

{% block body %}
    <div class="container">

    {{ include('rendezvous/_form.html.twig') }}

    </div>
{% endblock %}
