# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Programmation\my_project_symfony\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
